* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s;
}

@font-face {
  font-family: "oswald";
  src: url(../css/Oswald-VariableFont_wght.ttf);
}
header {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header-index {
  display: flex;
  background-color: #042b94;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  font-family: "oswald";
  color: white;
  font-size: 2rem;
}

.header-mobile {
  display: none;
  background-color: #042b94;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  font-family: "oswald";
  color: white;
  font-size: 2rem;
}

.header-camisetas {
  display: flex;
  background-color: #042b94;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  font-family: "oswald";
  color: white;
  font-size: 2rem;
}
.header-camisetas-logo {
  display: flex;
  animation: roll-in-blurred-left 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.header-sm {
  display: none;
  width: 100%;
  background-color: #042b94;
  font-size: 2rem;
  height: 50px;
  color: white;
  text-align: left;
  padding-left: 40px;
  transition: 0.5s;
  margin-bottom: 0;
  z-index: 100;
}

.submenu {
  text-align: center;
  display: none;
  position: absolute;
  top: 20px;
  list-style-type: none;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;
  background-color: #042b94;
  color: white;
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #d4042b;
  z-index: 100;
}
.submenu .submenu-text:hover {
  transform: scale(1.5);
  color: #d4042b;
  z-index: 100;
}

.header-sm:hover .submenu {
  display: block;
}

@media screen and (max-width: 750px) {
  .header-index {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
  .header-sm {
    display: flex;
  }
  .header-camisetas {
    display: none;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "oswald";
}

@font-face {
  font-family: "oswald";
  src: url(../css/Oswald-VariableFont_wght.ttf);
}
.menu-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 30px;
  gap: 30px;
  margin-left: 20px;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.menu-index .border-menu-1, .menu-index .border-menu-4, .menu-index .border-menu-3, .menu-index .border-menu-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: 45vh;
  background-image: url(../img/camiseta.png);
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #d4042b;
  transition: 0.2s;
  opacity: 0.8;
  color: transparent;
  text-decoration: underline;
  font-size: 3rem;
}
.menu-index .border-menu-2 {
  background-image: url(../img/footlocker.jpg);
}
.menu-index .border-menu-3 {
  background-image: url(../img/conjuntos.jpg);
}
.menu-index .border-menu-4 {
  background-image: url(../img/WNBA.jpg);
}
.menu-index .border-menu-1:hover, .menu-index .border-menu-2:hover, .menu-index .border-menu-3:hover, .menu-index .border-menu-4:hover {
  box-shadow: 0px 0px black;
  opacity: 1;
  color: #d4042b;
  font-size: 2.5rem;
}

.off-la {
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.off-hover {
  animation-name: latir;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.camisetas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.camisetas .cam-lakers {
  background-image: radial-gradient(circle, purple, gold, purple);
  width: 22vw;
  border: 2px solid goldenrod;
}
.camisetas .cam-celtics {
  background-image: radial-gradient(circle, green, white, green);
  width: 22vw;
  border: 2px solid greenyellow;
}
.camisetas .cam-gsw {
  background-image: radial-gradient(circle, yellow, white, blue);
  width: 22vw;
  border: 2px solid goldenrod;
}
.camisetas .cam-lac {
  background-image: radial-gradient(circle, red, white, blue);
  width: 22vw;
  border: 2px solid red;
}

.main-mobile {
  display: none;
  border: 1.5px solid #042b94;
  border-radius: 5px;
  width: 70vw;
  left: 13vw;
}

.lakers {
  background-image: radial-gradient(circle, purple, gold, purple);
}

.celtics {
  background-image: radial-gradient(circle, green, white, green);
}

.main-mobile:hover {
  box-shadow: 0px 0px 8px #042b94;
}

@keyframes latir {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 800px) {
  .menu-index {
    grid-template-columns: 1fr;
  }
  .menu-index .border-menu-1, .menu-index .border-menu-2, .menu-index .border-menu-3, .menu-index .border-menu-4 {
    width: 90vw;
    opacity: 1;
    color: #d4042b;
  }
  .off-la {
    font-size: 1.5rem;
  }
  .main-mobile {
    display: inline-block;
    position: relative;
  }
  .main-pc {
    display: none;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "oswald";
}

@font-face {
  font-family: "oswald";
  src: url(../css/Oswald-VariableFont_wght.ttf);
}
.footer-index {
  display: flex;
  background-image: linear-gradient(to left, white, #506cac, #d4042b, #d0d7e6, #042b94);
  color: white;
  width: 100%;
  height: 100%;
}
.footer-index .footer-text {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .footer-index .footer-text {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */