* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "oswald";
}
@font-face {
    font-family: "oswald";
    src: url(../css/Oswald-VariableFont_wght.ttf);
}
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
$colorTextoHeader: white;
$colorNBA:  #506cac;
$colorTransformText: #d4042b ;
$colorNBA2  : #d0d7e6;
$colorFondoHeader: #042b94 ;

.footer-index {

    display: flex;
    background-image: linear-gradient(to left, $colorTextoHeader, $colorNBA, $colorTransformText, $colorNBA2, $colorFondoHeader);
    color: $colorTextoHeader;
    width: 100%;
    height: 100%;

    .footer-text    {
        @include flexcenter;
        font-size: 2rem;
    }
}


@media screen and (max-width:800px) {
    
    .footer-text {
        font-size: 1rem;
    }

}