* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "oswald";
}
@font-face {
    font-family: "oswald";
    src: url(../css/Oswald-VariableFont_wght.ttf);
}
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
$colorTextoHeader: white;
$colorNBA:  #506cac;
$colorTransformText: #d4042b ;
$colorNBA2  : #d0d7e6;
$colorFondoHeader: #042b94 ;


.footer-final {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: $colorNBA2;

}

.footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 20px   ;
    padding-left: 20px;
    width: 100%;
    
    .redes {
        border: $colorNBA 1px solid;
        padding: 5px;
        width: 95%;
        color: white;
    }

}

$coloresRedes: (
    twitter: rgb(0, 119, 255),
    facebook: rgb(26, 14, 201),
    instagram: rgb(104, 0, 57),
);

@each $redSocial, $colorDeRed in $coloresRedes {

    .red-#{$redSocial} {
        background-color: $colorDeRed;
    }

}




@media screen and (max-width:800px) {
   
    .footer-index {
        .footer-text{
            font-size: 1rem;
        }
    }
    
}