* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .5s ;
}
@font-face {
    font-family: "oswald";
    src: url(../css/Oswald-VariableFont_wght.ttf);
}
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
$colorTextoHeader: white;
$colorNBA:  #506cac;
$colorTransformText: #d4042b ;
$colorNBA2  : #d0d7e6;
$colorFondoHeader: #042b94 ;

.link {
  text-decoration: none;
}

header {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.header-index {
    display: flex;
    background-color: $colorFondoHeader ;
    width: 100%;
    height: 55px;
    justify-content: space-around;
    font-family: "oswald";
    color: $colorTextoHeader;
    font-size: 2rem;
    
}
.header-mobile {
    display: none;
    
    background-color: $colorFondoHeader ;
    width: 100%;
    height: 55px;
    justify-content: space-around;
    font-family: "oswald";
    color: $colorTextoHeader;
    font-size: 2rem;
}
.header-camisetas {
    display: flex;
    background-color: $colorFondoHeader ;
    width: 100%;
    height: 55px;
    justify-content: space-evenly;
    font-family: "oswald";
    color: $colorTextoHeader;
    font-size: 2rem;
   
    &-logo{
        display: flex;
        -webkit-animation: roll-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }
}

.header-camisetas-text {
  color: white;
}
.header-camisetas-text:hover {
  color: $colorTransformText;
  transform: scale(1.2);
}



.header-sm {
  
  display: none;
  width: 100%;
  background-color: $colorFondoHeader;
  font-size: 2rem;
  height: 50px;
  color: $colorTextoHeader;
  text-align:left ;
  padding-left: 40px;
  transition: 0.5s;
  margin-bottom: 0;
  z-index: 100;
}

.submenu {
  
  text-align: center;
  display: none;
  position: absolute;
  top: 20px;
  list-style-type: none;
  flex-direction: row;
  gap: 1rem ;
  font-size: 1rem;
  background-color: $colorFondoHeader;
  color: $colorTextoHeader;
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px $colorTransformText;
  z-index: 100;
  


  .submenu-text:hover {
    transform: scale(1.5);
    color: $colorTransformText;
    z-index: 100;
  }
  
}



.header-sm:hover .submenu {
  
  display: block;

}


@media screen and (max-width:750px) {
    
  .header-index {
      display: none;
  }
    
  .header-mobile {
      display: flex;
  }

  .header-sm {
    display: flex;
    justify-content: left;
    gap: 40px;
  }
  .header-camisetas {
    display: none;
  }
}


@-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
  

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
  