* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "oswald";
    
}
@font-face {
    font-family: "oswald";
    src: url(../css/Oswald-VariableFont_wght.ttf);
}
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
$colorTextoHeader: white;
$colorNBA:  #506cac;
$colorTransformText: #d4042b ;
$colorNBA2  : #d0d7e6;
$colorFondoHeader: #042b94 ;


.menu-index {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
    gap: 30px    ;
    margin-left: 20px;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    .border-menu-1 {
        @include flexcenter;
        width: 45vw;
        height: 45vh;
        background-image: url(../img/camiseta.png);
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 0px 8px $colorTransformText;
        transition: .2s ;
        opacity: 0.8;
        color: transparent;
        text-decoration: underline;
        font-size: 3rem


    }
    .border-menu-2{

        @extend .border-menu-1;
        background-image: url(../img/footlocker.jpg);

    }
    .border-menu-3{
        @extend .border-menu-1;
        background-image: url(../img/conjuntos.jpg);

    }
    .border-menu-4{
        @extend .border-menu-1;
        background-image: url(../img/WNBA.jpg);

    }

    .border-menu-1:hover {
        box-shadow: 0px 0px black;
        opacity: 1;
        color: $colorTransformText;
        font-size: 2.5rem;
    }

}

.off-la {
    background-color: black;
    color: $colorTextoHeader;
    width: 100%;
    height: 80px;
    font-size: 2rem;
    @include flexcenter;
}
.off-hover {
    animation-name: latir;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.camisetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

    .cam-lakers {
        background-image: radial-gradient(circle, purple, gold, purple);
        width: 22vw;
        border: 2px solid goldenrod;
    }

    .cam-celtics {
        background-image: radial-gradient(circle, green, white, green);
        width: 22vw;
        border: 2px solid greenyellow;
    }
    .cam-gsw {
        background-image: radial-gradient(circle, yellow,white, blue);
        width: 22vw;
        border: 2px solid goldenrod;
    }
    .cam-lac {
        background-image: radial-gradient(circle, red, white, blue);
        width: 22vw;
        border: 2px solid red;
    }

}


.main-mobile {
    display: none;
    
    border: 1.5px solid $colorFondoHeader;
    border-radius: 5px;
    width: 70vw;
    left: 13vw;
}

.lakers {
    background-image: radial-gradient(circle, purple, gold, purple);
}
.celtics {
    background-image: radial-gradient(circle, green, white, green);
}

.main-mobile:hover {
    box-shadow: 0px 0px 8px $colorFondoHeader;
}

@keyframes latir {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width:800px) {

    .menu-index {
        grid-template-columns: 1fr;

        .border-menu-1 {
            width: 90vw ;
            opacity: 1 ;
            color: $colorTransformText ;
        }
    }

    .off-la{
        font-size: 1.5rem;
    }
    .main-mobile {
        display: inline-block;
        position: relative;

    }

    .main-pc {
        display: none;
    }
    
}


@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
