* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "oswald";
    
}
@font-face {
    font-family: "oswald";
    src: url(../css/Oswald-VariableFont_wght.ttf);
}
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
$colorTextoHeader: white;
$colorNBA:  #506cac;
$colorTransformText: #d4042b ;
$colorNBA2  : #d0d7e6;
$colorFondoHeader: #042b94 ;

.link{
    text-decoration: none;
}

.flechaarriba {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    color: $colorTransformText;
}

.menu-index {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
    gap: 30px    ;
    margin-left: 20px;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    .border-menu-1 {
        @include flexcenter;
        width: 45vw;
        height: 45vh;
        background-image: url(../img/camiseta.png);
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 0px 8px $colorTransformText;
        transition: .2s ;
        opacity: 0.8;
        color: transparent;
        text-decoration: underline;
        font-size: 3rem


    }
    .border-menu-2{

        @extend .border-menu-1;
        background-image: url(../img/footlocker.jpg);

    }
    .border-menu-3{
        @extend .border-menu-1;
        background-image: url(../img/conjuntos.jpg);

    }
    .border-menu-4{
        @extend .border-menu-1;
        background-image: url(../img/WNBA.jpg);

    }

    .border-menu-1:hover {
        box-shadow: 0px 0px black;
        opacity: 1;
        color: $colorTransformText;
        font-size: 2.5rem;
    }

}

.off-la {
    background-color: black;
    color: $colorTextoHeader;
    width: 100%;
    height: 80px;
    font-size: 2rem;
    @include flexcenter;
}
.off-hover {
    animation-name: latir;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.camisetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

    .cam-lakers {
        background-image: radial-gradient(circle, purple, gold, purple);
        width: 22vw;
        border: 2px solid goldenrod;
    }

    .cam-celtics {
        background-image: radial-gradient(circle, green, white, green);
        width: 22vw;
        border: 2px solid greenyellow;
    }
    .cam-gsw {
        background-image: radial-gradient(circle, yellow,white, blue);
        width: 22vw;
        border: 2px solid goldenrod;
    }
    .cam-lac {
        background-image: radial-gradient(circle, red, white, blue);
        width: 22vw;
        border: 2px solid red;
    }

}


.main-mobile {
    display: none;
    
    border: 1.5px solid $colorFondoHeader;
    border-radius: 5px;
    width: 70vw;
    left: 13vw;
}

.equipos-camisetas {
    display: none;
}

.lakers {
    background-image: radial-gradient(circle, purple, gold, purple);
}
.celtics {
    background-image: radial-gradient(circle, green, white, green);
}
.gsw {
    background-image: radial-gradient(circle, white, yellow, blue);
}
.clippers {
    background-image: radial-gradient(circle, red, white, blue);
}

.main-mobile:hover {
    box-shadow: 0px 0px 8px $colorFondoHeader;
}

.tarjetas {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 2vw   ;
}

.tarjeta-1{
    @include flexcenter;
    text-align: center;
    width :20%;
    height: 200px;
    border: 1px solid black;
    background-color: goldenrod;
    
}

.tarjeta-2 {
    @extend .tarjeta-1;
    background-color: rgb(175, 10, 10);
}
.tarjeta-3 {
    @extend .tarjeta-1;
    background-color: rgb(4, 133, 0);
}

@for $numero from 1 through 3 {
    .tarjeta-#{$numero} {
        width: $numero *15%
    }

}

.fila-zapa {
    @include flexcenter;
    flex-direction: column;
    margin-top: 30px;
    width: 50vw;
    

    .zapa {
        @include flexcenter;
        flex-direction: column;
        width: 80%;
        background-color: $colorNBA2;
        margin-bottom: 20px;
        border: $colorNBA 1.5px solid;
        border-radius: 30px;

        &-text {
            text-align: center;
        }

        &-precios {
            
            width: 80%;
            text-align: right;
        }
    }

    

    .btn-compra {
        width: 80%;
        height: 40px;
        background-color: black;
        color: white;
        border-radius: 5px;
        margin-bottom: 50px;
    }


}



.conjuntos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 50px;
    row-gap: 30px   ;
    column-gap: 30px;
}

.conjuntos-png {
    width: 100%;
    box-shadow: 0px 0px 8px $colorTransformText;
    border-radius: 10px;
    background-color: $colorNBA2;
}

.conjuntos-png:hover {
    box-shadow: 0px 0px 0px $colorNBA2;
}

.dato {
    padding: 50px;
    font-family: "oswald";
}
.sabias2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}
.sabias-text:nth-child(3n+1) {
    background-color: red;
}
.sabias-text {
    color: transparent;
    display: flex;
    justify-content: center;
    margin: 2px;
    border: solid 1px black;
}
.sabias{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imgderecha {
    display: inline-block;
    position: relative;
    width: 40%;
    color: white;
    padding-left:10px ;
    margin-top: 50px;
    height: 150px;
    background-color: $colorFondoHeader;
    padding-top: 50px;
    margin-bottom: 50px;
    clip-path: polygon(0 100%, 0 0, 70% 0, 100% 100%);
    
}
.imgizquierda {
    display: inline-block;
    position: relative;
    color: white;
    padding-right:10px ;
    width: 40%;
    height: 150px;
    background-color: $colorFondoHeader;
    margin-top: 50px;
    margin-bottom: 50px;
    clip-path: polygon(30% 100%, 0 0, 100% 0, 100% 100%);
    text-align: right;
    
}

.wnba-title {
    margin-top: 50px;
}

@keyframes latir {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (min-width:800px) {
    .hr-min {
        display: none;
    }
   
}
@media screen and (max-width:800px) {

    .menu-index {
        grid-template-columns: 1fr;

        .border-menu-1 {
            width: 90vw ;
            opacity: 1 ;
            color: $colorTransformText ;
        }
    }

    .zapa-text {
        font-size: 1.5rem;
        
    }

    .equipos-camisetas {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .off-la{
        font-size: 1.5rem;
    }
    .main-mobile {
        display: inline-block;
        position: relative;

    }

    .main-pc {
        display: none;
    }

    .conjuntos-grid {
        grid-template-columns: 1fr;
    }
    
}


@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
